:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
nav {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.inner {
  max-width: 980px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar-list {
  display: none;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0 80px;
}
.navbar-list li {
  list-style-type: none;
  position: relative;
}
.navbar-list li:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #424245;
}

.navbar-list a {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 10px;
  font-size: 15px;
}
@media only screen and (min-width: 767px) {
  .mobile-icon {
    display: none;
  }

  .navbar-list {
    display: flex;
    padding: 0;
  }

  .navbar-list a {
    display: inline-flex;
  }
}

.content {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.section {
  height: 100vh;
  width: 100%;
  position: relative;
}
.splash {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  flex-direction: column;
}
.logo {
  width: 167px;
  height: 167px;
  object-fit: cover;
}
.title {
  font-family: droid-serif, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 68px;
  color: white;
}
.content-font {
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  color: inherit;
}
.twitter {
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  color: white;
}
.footer {
  margin-top: auto;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: white;
}
.center-content {
  margin: auto auto;
  
}
.splash-img-home {
  background: rgba(29, 27, 27, 0.7) url("/splash1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.splash-img-guide {
  background: rgba(0, 0, 0, 0.5) url("/splash2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.corner{
  position:fixed;
  right:0;
  bottom:0;
  opacity: 40%;
}
.corner:hover{
  opacity: 80%;
}
